<a href="https://colab.research.google.com/github/mlevy34/SETS_Michelle_Levy/blob/main/Copy_of_MCON232_FC_Module_3_Class_5_Dicts_and_Sets_lab_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Building our CSV file named "student_data.csv"

In [ ]:
data = ["name", "age", "major", "course", "grade",
        "Alice", 20, "CS", "Math", 90,
        "Alice", 20, "CS", "CS", 88,
        "Bob", 21, "Math", "Math", 85,
        "Bob", 21, "Math", "CS", 90]

# WRITE
count = 1
with open("student_data.csv", "w") as fout:
    for item in data:
        item = str(item)
        if count == len(data) :
            fout.write(item)
        elif count % 5 == 0:
            fout.write(item + "\n")
        else:
            fout.write(item + ",")   # cleaner CSV
        count += 1

student_list = {}

## Exercise : to build a dictionary that looks like this
```
students_demo = {
    "Alice": {"age": 20, "major": "CS", "grades": {"Math": 90, "CS": 95}},  
    "Bob": {"age": 21, "major": "Math", "grades": {"Math": 85, "CS": 88}}
}
```

In [ ]:
# Your answer here
students_demo = {}
header = "name", "age", "major", "course", "grade"
with open ("student_data.csv", "r") as f:
  header = f.readline()
  for line in f:
    line = line.strip()
    parts = line.split(",")
    if len(parts) != 5:
      continue
    if parts[0] not in students_demo:
      students_demo[parts[0]] = {"age" : parts[1], "major" : parts[2], "grades": {parts[3] : parts[4]}}
    else:
      students_demo[parts[0]]["grades"][parts[3]] = parts[4]
print(students_demo)

{'Alice': {'age': '20', 'major': 'CS', 'grades': {'Math': '90', 'CS': '88'}}, 'Bob': {'age': '21', 'major': 'Math', 'grades': {'Math': '85', 'CS': '90'}}}

## Playing with Sets()

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(type(my_set))
set2 = set([1, 2, 3, 10, 11])
print(type(set2))
print(set2)

<class 'set'>
<class 'set'>
{1, 2, 3, 10, 11}

In [ ]:
my_set.add(6)
my_set.add(6)
my_set.add(7)
print(my_set)
print(set(["hello", "michelle"]))

{1, 2, 3, 4, 5, 6, 7}
{'hello', 'michelle'}

In [ ]:
for s in my_set:
  print(s)
print("a" in my_set)
print(1 in my_set)
my_set4 = my_set | set2
print(my_set4)
print(my_set.union(set2))
print(my_set & set2)

e={1,2,4,5}
f={1, 2, 4, 5,6,7,8,9}
print( e & f)
print(e.difference(f))
print( e-f)
print( f-e)
print(e^f)
print(e.issubset(f))
print(f.issubset(e))
print(e.issuperset(f))
print({x for x in e if x<3})

1
2
3
4
5
6
7
False
True
{1, 2, 3, 4, 5, 6, 7, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 10, 11}
{1, 2, 3}
{1, 2, 4, 5}
set()
set()
{8, 9, 6, 7}
{6, 7, 8, 9}
True
False
False
{1, 2}

## Leetcode 217 :
Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

In [ ]:
# answer
def appeartwice(nums):
  if set(nums) != nums:
    return True
  else:
    return False
appeartwice([1, 2, 2, 3])

True

## Leetcode 202 - Happy Number
Write an algorithm to determine if a number n is happy.

A happy number is a number defined by the following process:

Starting with any positive integer, replace the number by the sum of the squares of its digits.
Repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1.
Those numbers for which this process ends in 1 are happy.
Return true if n is a happy number, and false if not.



Example 1:

Input: n = 19
Output: true
Explanation:
12 + 92 = 82
82 + 22 = 68
62 + 82 = 100
12 + 02 + 02 = 1
Example 2:

Input: n = 2
Output: false


Constraints:

1 <= n <= 231 - 1

In [ ]:
# solution
def happy_num(n):
  sums = []
  sum = 0
  num = str(n)
  set1 = set(num)
  while True:
    for x in set1:
      x = int(x)
      sum += x**2
    if sum == 1:
      return True
    if sum in sums:
      return False
    sums.append(sum)
    sum = str(sum)
    set1 = set(sum)
    sum = 0

happy_num(19)
happy_num(2)

KeyboardInterrupt: